table {
    background-color: red;
}

th, td {
    border: 1px solid black;
    height: 40px;
    max-height: 40px;
    max-width: 40px;
    position: relative;
}

.test {
    background-color: aqua;
    height: 100px;
    width: 50px;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 1;
}