.m-icon {
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.icon-24 {
    width: 24px;
    height: 24px;
}

.icon-28 {
    width: 28px;
    height: 28px;
}

.icon-32 {
    width: 32px;
    height: 32px;
}

.icon-40 {
    width: 40px;
    height: 40px;
}


/* icon sửa, xóa bản ghi */

.icon-edit {
    background-image: url(../../assets/Icons/ic_edit_2.png);
}
.icon-edit:hover, .icon-edit:focus {
    background-image: url(../../assets/Icons/ic_Edit.png);
}

.icon-remove {
    background-image: url(../../assets/Icons/ic_Remove.png);
}
.icon-remove:hover, .icon-remove:focus { 
    background-image: url(../../assets/Icons/ic_Remove_Hover.png);
}


/* icon tìm kiếm, xóa, mở rộng, lọc, nhập khẩu, phóng to, sao chép, in*/

.icon-search {
    background-image: url(../../assets/Icons/Ic_seerch.png);
}

.icon-more {
    background-image: url(../../assets/Icons/ic_More.png);
}

.icon-delete {
    background-image: url(../../assets/Icons/ic_delete.png);
}

.icon-delete-32 {
    background-image: url(../../assets/Icons/ic_Delete_32.svg);
}

.icon-filter {
    background-image: url(../../assets/Icons/ic_Filter.png);
}

.icon-nhapkhau {
    background-image: url(../../assets/Icons/ic_nhapkhau.png);
}

.icon-duplicate {
    background-image: url(../../assets/Icons/ic_Duplicate_24.svg);
}

.icon-print {
    background-image: url(../../assets/Icons/ic_Print.png);
}


/* icon chọn ảnh, alert (nodata), avatar */

.icon-chonanh {
    background-image: url(../../assets/Icons/bg_chonanh.png);
    width: 181px;
    height: 186px;
}

.icon-alert {
    background-image: url(../../assets/Icons/ic_Alert.png);
    width: 198px;
    height: 198px;
}

.icon-avatar {
    background-image: url(../../assets/Icons/ic_Avatar_36.png);
    width: 36px;
    height: 36px;
}


/* icon điều hướng bảng dữ liệu */

.icon-back {
    background-image: url(../../assets/Icons/ic_Back.png);
}

.icon-next {
    background-image: url(../../assets/Icons/ic_Next.png);
}

.icon-movetofirst {
    background-image: url(../../assets/Icons/ic_MoveToFirst.png);
}

.icon-movetolast {
    background-image: url(../../assets/Icons/ic_MoveToLast.png);
}


/* icon tick v check trạng thái true, icon down cho dropdown, icon chuông thông báo */

.icon-check {
    background-image: url(../../assets/Icons/ic_Check.png);
}

.icon-down {
    background-image: url(../../assets/Icons/ic_Chevron.png);
}

.icon-notification { /*32x32*/
    background-image: url(../../assets/Icons/ic_Notification_32.png);
}


/* icon của toast message */

.icon-toast-fail {
    background-image: url(../../assets/Icons/ic_ToastMessage_Fail.png);
}

.icon-toast-info {
    background-image: url(../../assets/Icons/ic_ToastMessage_Info.png);
}

.icon-toast-success {
    background-image: url(../../assets/Icons/ic_ToastMessage_Success.png);
}

.icon-toast-warning {
    background-image: url(../../assets/Icons/ic_ToastMessage_Warning.png);
}


/* icon đóng (trang, popup, control, element), icon trợ giúp (dấu ?)*/

.icon-close {
    background-image: url(../../assets/Icons/ic_X_2.png);
}

.icon-x {
    background-image: url(../../assets/Icons/ic_X.png);
}

.icon-help {
    background-image: url(../../assets/Icons/ic_sprites.svg);
    background-position: -804px -295px;
}


/* icon logo của toàn trang, icon ẩn hiện sidebar */

.icon-logo-thietbi {
    background-image: url(../../assets/Icons/ic_IconThietBi.svg);
    width: 56px;
    height: 56px;
}

.icon-logo-khoanthu {
    background-image: url(../../assets/Icons/KhoanThu_New.svg);
    width: 56px;
    height: 56px;
}

.icon-sidebar {
    width: 48px;
    height: 48px;
    background-image: url(../../assets/Icons/ic_sprites.svg);
    background-position: 0px 0px;
}


/* icon menu */

.icon-tongquan {
    background-image: url(../../assets/Icons/ic_TongQuan.svg);
}

.icon-thietbi {
    background-image: url(../../assets/Icons/ic_ThietBi.svg);
}

.icon-muontra {
    background-image: url(../../assets/Icons/ic_MuonTra.svg);
}

.icon-baocao {
    background-image: url(../../assets/Icons/ic_BaoCao.svg);
}

.icon-hethong {
    background-image: url(../../assets/Icons/ic_HeThong.svg);
}

.icon-kehoachthu {
    background-image: url(../../assets/Icons/ic_LapKeHoachThu_32.svg);
}

.icon-quanlythu {
    background-image: url(../../assets//Icons/ic_QuanLyThu_32.svg);
}

.icon-hoadon {
    background-image: url(../../assets/Icons/ic_HoaDon_32.svg);
}

.icon-sothu {
    background-image: url(../../assets/Icons/ic_SoThu_32.svg);
}

.icon-payment {
    background-image: url(../../assets/Icons/ic_paymentgetway.svg);
}

.icon-daotaoemis {
    background-image: url(../../assets/Icons/menu-icon-new.webp);
    background-position: 0px 0px;
}