.m-combo-container {
    display: flex;
    position: relative;
  }

  .combobox__option {
    width: calc(100% - 16px);
    border: none;
    border-collapse: collapse;
  } 

  .combobox__option--head {
    text-align: left;
    background-color: var(--option-head-bg);
  }

  .combobox__option--head th {
    font-weight: normal;
  }

  .combobox__option tr {
    height: 32px;
  }

  .combobox__option th,
  .combobox__option td {
    padding: 0px 12px;
  }

  /*Có thể dùng của dropdown*/
  .combobox__option--item:hover {
    background-color: var(--grid-line-hover);
  }
  .combobox__option--item:active,
  .combobox__option tr:focus {
    background-color: var(--grid-line-focus);
  }