.m-filter-container {
    background-color: aqua;
    display: flex;
    position: relative;
}

.filter__input {
    width: calc(100% - 28px);
    outline: none;
    border: none;
    padding: 0px 12px;
}

.filter__option {
    position: absolute;
    top: calc(100% + 4px);
    width: 150px;
    background-color: var(--white);
    border-radius: 4px;
    box-shadow: 0px 0px 10px var(--box-shadow);
}

.filter__option .option__item {
    position: relative;
}

.filter__option .option__item--text {
    padding: 6px 12px 6px 34px;
    background-position: 6px center;
}

.filter__option .option__item input {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
    opacity: 0;
}

.filter__option .option__item input:checked ~ .option__item--text {
    background-image: url(../../assets/Icons/ic_Check.png);
}