.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.content__navtab {
    width: 100%;
}

.content__view {
    flex: 1;
    background-color: var(--white);
}

.content__view .content__toolbar {
    height: 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.content__table {
    background-color: aqua;
    width: 100%;
    height: calc(100% - 112px);
}

.content__paging {
    width: 100%;
    box-sizing: border-box;
    height: 56px;
    display:  flex;
    align-items: center;
    justify-content: space-between;
    color: var(--label-text);
    padding: 0px 16px;
}

/*Bỏ/
.toolbar .toolbar-left {
    width: 338px;
    box-sizing: border-box;
}
.toolbar .toolbar-left .m-input {
    margin: 0px;
}
.content .toolbar .toolbar-right {
    display: flex;
}
/******Bỏ*/

/*XEM LAI HET*/
.content .table-content {
    height: calc(100% - 120px);
    overflow: auto;
    position: relative;
    box-sizing: border-box;
    margin: 0px 8px 0px 16px;
    width: calc(100% - 24px);
}

.content .footer {
    position: absolute;
    bottom: 0px;
    left: 16px;
    width: calc(100% - 16px);
    height: 56px;
    padding: 12px 16px 12px 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 4px 0px 10px #D5D5D5; /*Tu them vao theo UI*/
}
.footer .m-icon  {
    margin: 0px 4px;
}
.footer .m-page-number {
    border: 1px solid #CECECE;
    width: 64px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 0px 10px;
}
.footer .m-total-page {
    margin: 0px 20px 0px 10px;
}